body {
  font-family: Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  width: 400px;
}

h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Input Fields */
input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input:focus,
select:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}

.btn-primary1 {
  background-color: #4caf50;
  color: white;
}

.btn-primary1:hover {
  background-color: #45a049;
}

/* Message Box */
#message {
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
}

.success {
  background-color: #d4edda;
  color: #155724;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
}

.hidden {
  display: none;
}

ol {
  list-style-type: lower-roman;
  padding: 0;
}

li {
  margin: 3px 0;
}

.sitelist {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #1a73e8;
}

a:hover {
  text-decoration: underline;
}

#message {
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
}

.success {
  background-color: #d4edda;
  color: #155724;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
}

.hidden {
  display: none;
}

.delete-button1 {
  width: 25px;
  height: 25px;
  padding: 0px;
}

.jbc {
  display: flex;
  justify-content: space-evenly;
}

.link1 {
  width: 90%;
}

/* Search Bar */
